<section class="b-container py-4 py-xl-5">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12">
        <div class="card mb-5">
          <div class="card-body bg-light p-sm-5 b-container">
            <div class = "row top-space">
              <div class="col-12 d-flex flex-column">
                <h2 class="text-center fs-bold mt-5 pt-5 mb-5 pb-5">BUDGET APP</h2>
                <div class = "mt-7 pt-0">
                  <%= link_to 'LOGIN', new_user_session_path,  class: "btn btn-primary btn-lg d-block w-100 mb-2"  %>
                </div>
                <%= link_to 'SIGN UP', new_user_registration_path, class: "mx-auto text-decoration-none text-dark" %> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>